.app {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
}

.phone-container {
  flex: 70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 1200px;
  height: calc(100% - 70px);
  border-radius: 24px;
  background-color: white;

  display: flex;
}

.phone-header {
  flex: 5;
  background-color: white;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-content {
  flex: 80;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.phone-bottom {
  flex: 5;
  background-color: white;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  flex: 30;
  background-color: white;
  height: calc(100vh -64px);
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  padding: 36px;
}

.simulation-grid {
  height: 100%;
  background-color: silver;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.grid-element {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
.grid-element-bottom {
  border-top: 0px solid black rgba(0, 0, 0, 0.5);
}
.grid-element-right {
  border-left: 0px solid black rgba(0, 0, 0, 0.5);
}

.no-grid {
  border: 0.5px solid transparent;
}

.home-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 5px solid #c0c0c0;
}

.camera {
  background-color: black;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.circle {
  transition: all 0.5s;

  background-color: silver;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: -14px;
  bottom: -14px;
  cursor: pointer;
  border: 4px solid rgba(0, 0, 0, 0.8);
  /* transform: scale(0); */
  z-index: 100;
}

.no-grid .circle {
  border: 4px solid rgba(0, 0, 0, 0.3);
}

.big-circle {
  width: 28px;
  height: 28px;
  right: -18px;
  bottom: -18px;
  background-color: navy;
}

.medium-circle {
  width: 20px;
  height: 20px;
  background-color: navy;
}

.small-circle {
  width: 8px;
  height: 8px;
  right: -6px;
  bottom: -6px;
  background-color: navy;
}

.heading-1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}

.heading-2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
}

.heading-3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.75;
}

.body-1 {
  font-size: 18px;
  line-height: 1.75;
}

.line {
  border: 1px solid silver;
  border-bottom: 0px;
}
